<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="'Help'" left-buttons="leftButtons">
    <ion-content has-header="true">
      <div class="card" id="topofpage">
        <div class="item item-divider">
         <div ng-controller="CalculatorController">
          Enter a number:
          <input type="number" ng-model="number1" />
          <button ng-click="doSquare()">X<sup>2</sup></button>
          <button ng-click="doCube(number1)">X<sup>3</sup></button>
           
          <div>Answer: {{answer}}</div>
        </div>
        </div>
      </div>
    </ion-content>
</ion-view>
